<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
<localRepository>C:\WS\tools\maven\.m2\repository</localRepository>
    <profiles>
        <profile>
            <id>nexus</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>http://central</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>http://central</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>atlassian</id>
            <repositories>
                <repository>
					<id>atlassian-public</id>
					<url>https://packages.atlassian.com/mvn/maven-external/</url>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
				</repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>atlassian-public</id>
                    <url>https://packages.atlassian.com/maven-public</url>
                   <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
	<profile>
            <id>spring-repo</id>
            <repositories>
                <repository>
                    <id>spring-repo</id>
                    <url>https://repo.spring.io/release</url>
                   <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>spring-repo</id>
                    <url>https://repo.spring.io/plugins-release/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>nexus</activeProfile>
		<activeProfile>atlassian</activeProfile>
		<activeProfile>spring-repo</activeProfile>
    </activeProfiles>
    <servers>
        <server>
            <id>automation-releases</id>
            <username>IU734i7L</username>
            <password>hRvAz3ulvGop5EQzCtK/L3f3qUZCqqY+hJGof43PzsXR</password>
            <configuration>
                <timeout>120000</timeout>
            </configuration>
        </server>
        <server>
            <id>automation-snapshots</id>
            <username>IU734i7L</username>
            <password>hRvAz3ulvGop5EQzCtK/L3f3qUZCqqY+hJGof43PzsXR</password>
            <configuration>
                <timeout>120000</timeout>
            </configuration>
        </server>
        <server>
            <id>automation</id>
            <username>IU734i7L</username>
            <password>hRvAz3ulvGop5EQzCtK/L3f3qUZCqqY+hJGof43PzsXR</password>
            <configuration>
                <timeout>120000</timeout>
            </configuration>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>automation</id>
            <url>https://nexus.am.tsacorp.com/content/groups/automation</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>
</settings>